@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* --- preloader ---- */

.center {
    height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff no-repeat center;
    position: fixed;
    z-index: 1000;
  }
  .wave {
    width: 8px;
    height: 150px;
    background: linear-gradient(#7f63f4, #fff);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }
  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  
  .form-box {
  }

  .wrapper {
    border: 1px solid green;
    min-height: 100vh;
    width: 100%;
    background: url(img/background.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  #login {
    background: #fffffff7;
    height: 550px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .top {
  }

  .top span {
    font-size: 17px;
   color: #595757;
  }

  .top span a {
    color: #7f63f4;
    text-decoration: none;
    font-weight: 550;
  }

  .top header {
    color: #7f63f4;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin: 20px 0 10px 0;
  }

  .input-box {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #username,#password {
    height: 50px ;
    width: 300px;
    padding: 0 10px;
    outline: none;
    font-size: 17px;
    border: 2px solid #8063f48d ;
    border-radius: 10px;
  }

  .bx-user,.bx-lock-alt,.bx-envelope,.bx-home {
    color: #7f63f4;
    font-weight: 600;
    font-size: 30px;
    margin: 0 10px;
  }

  .submit-box {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
  }

  #LoginBtn,#reg_btn {
    height: 40px;
    width: 120px;
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    border-radius: 5px;
    border: none;
    background-color: #6a48f1df;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 40px;
  }

  #LoginBtn:hover,#reg_btn:hover {
    color: #7f63f4;
  background: #ffffff;
  border: 2px solid #7f63f4;
  transition: 0.5s;
  }


  #register {

    background: #fffffff7;
    height: 750px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
  }

  .top1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }


  
  .top1 span {
    font-size: 17px;
   color: #595757;
  }

  .top1 span a {
    color: #7f63f4;
    text-decoration: none;
    font-weight: 550;
  }

  .top1 header {
    color: #7f63f4;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    margin: 20px 0 10px 0;
  }

  #fname,#lname,#regEmail,#regDivision,#regPassword,#regConfirmPassword{
    height: 50px ;
    width: 300px;
    padding: 0 15px;
    outline: none;
    font-size: 17px;
    border: 2px solid #8063f48d ;
    border-radius: 10px;
    margin: 0 10px ;
  }