@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');
*{  
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* --- preloader ---- */

.center {
    height: 100vh;
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffffff no-repeat center;
    position: fixed;
    z-index: 1000;
  }
  .wave {
    width: 8px;
    height: 150px;
    background: linear-gradient(#7f63f4, #fff);
    margin: 10px;
    animation: wave 1s linear infinite;
    border-radius: 20px;
  }
  .wave:nth-child(2) {
    animation-delay: 0.1s;
  }
  .wave:nth-child(3) {
    animation-delay: 0.2s;
  }
  .wave:nth-child(4) {
    animation-delay: 0.3s;
  }
  .wave:nth-child(5) {
    animation-delay: 0.4s;
  }
  .wave:nth-child(6) {
    animation-delay: 0.5s;
  }
  .wave:nth-child(7) {
    animation-delay: 0.6s;
  }
  .wave:nth-child(8) {
    animation-delay: 0.7s;
  }
  .wave:nth-child(9) {
    animation-delay: 0.8s;
  }
  .wave:nth-child(10) {
    animation-delay: 0.9s;
  }
  
  @keyframes wave {
    0% {
      transform: scale(0);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }

  
  .wrapper {
    background: url(img/background.png);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}


.nav {
    height: 200px;
    padding: 30px 0 0 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-box {
    background: #595757ad;
    font-size: 20px;
    font-weight: 600;
    border-radius: 20px;
    
    
}

.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 620px;
    overflow: hidden;
    z-index: 2;
}
.login-container{
    position: absolute;
    left: 4px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.register-container{
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.top span{
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.top span a{
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}
header{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}
.two-forms{
    display: flex;
    gap: 10px;
}
.input-field{
    font-size: 15px;
    background: rgba(255, 255, 255, 0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.input-field:hover, .input-field:focus{
    background: rgba(255, 255, 255, 0.25);
}
::-webkit-input-placeholder{
    color: #fff;
}
.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}

.submit-box {
    padding-left: 185px;
}

.submit{
    font-size: 15px;
    font-weight: 500;
    color: rgb(255, 255, 255);
    height: 45px;
    width: 40%;
    border: none;
    border-radius: 30px;
    outline: none;
    background-color: #6a48f1df;
    cursor: pointer;
    transition: .3s ease-in-out;
    
    
}
.submit:hover{
    background: rgb(255, 255, 255);
    box-shadow: 1px 5px 7px 1px rgba(0, 0, 0, 0.2);
    color: #7f63f4;
}

.top span,.one label {
    font-size: 15px;
    font-weight: 500;
}

.two label {
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
}

.input-box input {
    font-weight: 1000;
    color: #ffffff;
}
.two-col{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
    text-decoration: none;
}
.two-col .one{
    display: flex;
    gap: 5px;
}
.two label a{
    color: #fff;
}
.two label a:hover{
    text-decoration: underline;
}

@media only screen and (max-width: 540px) {
    .wrapper{
        min-height: 100vh;
    }
    .form-box{
        width: 100%;
        height: 500px;
    }
    .register-container, .login-container{
        width: 100%;
        padding: 0 20px;
    }
    .register-container .two-forms{
        flex-direction: column;
        gap: 0;
    }
}