* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* --- preloader ---- */

.center {
  height: 100vh;
  min-width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ffffff no-repeat center;
  position: fixed;
  z-index: 1000;
}
.wave {
  width: 8px;
  height: 150px;
  background: linear-gradient(#7f63f4, #fff);
  margin: 10px;
  animation: wave 1s linear infinite;
  border-radius: 20px;
}
.wave:nth-child(2) {
  animation-delay: 0.1s;
}
.wave:nth-child(3) {
  animation-delay: 0.2s;
}
.wave:nth-child(4) {
  animation-delay: 0.3s;
}
.wave:nth-child(5) {
  animation-delay: 0.4s;
}
.wave:nth-child(6) {
  animation-delay: 0.5s;
}
.wave:nth-child(7) {
  animation-delay: 0.6s;
}
.wave:nth-child(8) {
  animation-delay: 0.7s;
}
.wave:nth-child(9) {
  animation-delay: 0.8s;
}
.wave:nth-child(10) {
  animation-delay: 0.9s;
}

@keyframes wave {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

/* ------------------ home page ------------------ */

/* --- home --- */
#contents {
  background: url(img/background.png);
  background-position: center;
  background-size: cover;
  max-width: 100vw;
  height: 100vh;
  background-repeat: no-repeat;
}

nav {
  display: flex;
  justify-content: space-between;
  height: 70px;
  z-index: 999;
  overflow: hidden;
  position: relative;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  font-size: 20px;
  font-weight: 600;
  
}

nav ul li {
  margin: 0 25px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

nav ul li a {
  text-decoration: none;
  color: #fff;
  letter-spacing: 2px;
}

nav ul li a:hover {
  color: #7837ef;
  cursor: pointer;
}

.fa-user {
  color: #fff;
  font-size: 22px;
}

.fa-user:hover {
  color: #7837ef;
  cursor: pointer;
}

#logo {
  height: 70px;
}

#heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 70px;
  color: #7837ef;
  font-weight: 600;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 100vw;
}

/* --- Footer --- */

#footer {
  height: 350px;
  display: flex;
  justify-content: space-between;
  background: #ffffff;
}

.contact {
  margin: 0 0 0 50px;
  width: 300px;
  padding: 0 0 0 31px;
}

.contact h2 {
  margin: 20px 0 40px 0;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 1.5px;
  margin: 30px 0 40px 40px;
}

.ul-1 li {
  font-size: 17px;
  list-style: none;
  margin: 5px 0;
  color: #2f2e2e;
}

.ul-2 {
  margin: 20px 0;
}

.ul-2 li {
  font-size: 17px;
  list-style: none;
  margin: 10px 0;
  color: #2f2e2e;
}

.ul-2 li a {
  text-decoration: none;
  margin: 0 0 0 5px;
  letter-spacing: 1.5px;
  color: #7837ef;
}

.quick-links {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.quick-links h2 {
  margin: 20px 0 40px 0;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 1.5px;
  margin: 30px 0 10px 40px;
}

.quick-links ul {
}

.quick-links ul li {
  font-size: 17px;
  list-style: none;
  margin: 25px 0;
}

.quick-links li a {
  margin: 0 0 0 10px;
  color: #303030;
  letter-spacing: 1.5px;
}

.quick-links li a:hover {
  color: #7f63f4;
}

.follow-us {
  margin: 0 50px 0 0;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.follow-us h2 {
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 1.5px;
  margin: 30px 35px 8px 0;
}

.follow-us ul {
  display: flex;
  list-style: none;
}

.follow-us ul li {
  margin: 20px 40px 40px 0;
}

.follow-us ul li a {
  font-size: 20px;
}

.google-maps {
}

.fa-facebook {
  color: #4267b2;
}

.fa-twitter {
  color: #1da1f2;
}

.fa-instagram {
  color: #fd1d1d;
}

.fa-brands {
  font-size: 30px;
}

/* ---------------- DASHBOARD --------------*/

.Dashboard {
  min-width: 100%;
}

.dash-menu {
  min-height: 50px;
  min-width: 100%;
  display: flex;
  line-height: 60px;
  justify-content: space-between;
}

.left-dash {
  display: flex;
  line-height: 50px;
  float: left;
  justify-content: space-between;
  min-width: 55%;
  align-items: center;
}
.left-dash .fas {
  color: #7f63f4;
}

.logo {
  height: 55px;
  cursor: pointer;
}

.right-dash {
  display: flex;
  float: right;
  min-width: 150px;
  justify-content: space-around;
  align-items: center;
  padding: 0 10px;

}

.admin-avatar {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 10px 0 20px;
}

.right-dash .fa-solid {
  cursor: pointer;
  font-size: 25px;
  color: #6a48f1;
  
}

.right-dash h4 {
  font-size: 16px;
  color: #202020;
  font-weight: 600;
  margin: 0 0  0 20px;
}

.fa-user:hover,.fa-sign-out-alt:hover {
  color: #fff;
}

/* --- slide bar */




.content {
  display: flex;
}

.slide-bar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.slide-bar img {
  height: 23px;
  width: 23px;
}

.slide-bar p {
  color: #595757;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: medium;
}

.Display {
  align-items: self-start;
}
.Display2 {
  display: none;
}
.Display1 {
  rotate: 45deg;
  transform: translate(36%, 20%);
  transition: 1s;
}
.Display3 {
  rotate: -45deg;
  transform: translate(18%, 68%);
  transition: 1s;
}

.Display p {
  display: none;
  transition: 0.8s;
}
.Display .slide-dashboard {
  width: 50px;
  padding: 0;
  margin: 0;
  transition: 0.8s ease-in-out;
}

.Display .inbound {
  width: 50px;
  padding: 0;
  margin: 0;
  transition: 0.8s ease-in-out;
}
.Display .outbound {
  width: 50px;
  padding: 0;
  margin: 0;
  transition: 0.8s ease-in-out;
}
.Display .report {
  width: 50px;
  padding: 0;
  margin: 0;
  transition: 0.8s ease-in-out;
}
.Display .history {
  width: 50px;
  padding: 0;
  margin: 0;
  transition: 0.8s ease-in-out;
}

.slide-bar p:hover {
  color: #050505;
}

.slide-bar h3 {
  font-size: 20px;
  margin: 0 0 15px 0;
  height: 60px;
  margin: 0 0 0 10px;
}

.slide-bar a {
  text-decoration: none;
}

/* hung buragar icon */

.main-hang-burgar {
  width: 100%;
  margin: 0 0 10px 0;
  position: relative;
  height: 40px;
  display: flex;
  align-items: center;
  padding: 3px 0 0 0;
}

.hanburgar {
  height: 36px;
  width: 45px;
  position: absolute;
  right: 5px;
  cursor: pointer;
}
.hagburgar-box1,
.hagburgar-box2,
.hagburgar-box3 {
  height: 6px;
  width: 30px;
  background: #7f63f4;
  border-radius: 5px;
  margin: 3px;
}

.slide-dashboard {
  display: flex;
  width: 150px;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  height: 60px;
  flex-grow: 1;
  padding: 0 0 0 2px;
  margin: 0 0 0 10px;
}

.slide-bar .box1 {
  height: 60px;
  display: flex;
}

.sidebar1 {
  height: 55px;
  width: 7.5px;
  background-color: #7f63f4;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.slide-bar #active1 {
  visibility: hidden;
}

#active .light {
  display: none;
}

.slide-bar .active {
  color: #050505;
}

.inbound {
  display: flex;
  width: 150px;
  justify-content: space-around;
  align-items: center;
  padding: 0 18px 0 0;
  cursor: pointer;
  height: 60px;
  margin: 0 0 0 10px;
}

.outbound {
  display: flex;
  width: 150px;
  justify-content: space-around;
  align-items: center;
  padding: 0 8px 0 0;
  cursor: pointer;
  height: 60px;
  margin: 0 0 0 10px;
}

.report {
  display: flex;
  width: 150px;
  justify-content: space-around;
  align-items: center;
  padding: 0 29px 0 0;
  cursor: pointer;
  height: 60px;
  margin: 0 0 0 10px;
}
.history {
  display: flex;
  width: 150px;
  justify-content: space-around;
  align-items: center;
  padding: 0 26px 0 0;
  cursor: pointer;
  height: 60px;
  margin: 0 0 0 10px;
}

/* --- Page box ---*/

.page-bar {
  flex-grow: 1;
  min-height: 86vh;
}

.buttons {
  height: 40px;
  width: 100%;
  background: #d4d0ec2e;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.left-buttons {
  display: flex;
  flex-grow: 1;
}
.add-button {
  height: 35px;
  width: 120px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: #6a48f1df;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.edit-button {
  height: 35px;
  width: 120px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: #6a48f1df;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.delete-button {
  height: 35px;
  width: 120px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: #6a48f1df;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.delete-button:hover,
.edit-button:hover,
.add-button:hover {
  color: #7f63f4;
  background: #ffffff;
  border: 2px solid #7f63f4;
  transition: 0.5s;
}

.Add-Display {
  color: #7f63f4;
  background: #ffffff;
  border: 2px solid #7f63f4;
  transition: 0.5s;
}
.right-index-url {
  min-width: 300px;
  text-align: right;
  line-height: 30px;
  padding: 0 20px 0 0;
  font-weight: 600;
  font-family: sans-serif;
  letter-spacing: 1.5px;
  color: #595757;
  font-size: 14px;
}

/* ---------- chart -------#ffffffbb---  */
.total-circle-box {
  position: relative;
  display: flex;
  justify-content: space-around;
  margin: 40px 0 0 0;
}

.skill {
  width: 160px;
  height: 160px;
  /*     background: #00AFF0;
 */
  border-radius: 50%;
  position: relative;
}
.outer {
  height: 157px;
  width: 157px;
  border-radius: 50%;
  box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

.inner {
  height: 130px;
  width: 130px;
  border-radius: 50%;
  transform: translate(14px, 14px);
  box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.2),
    inset -4px -4px 6px -1px rgba(255, 255, 255, 0.7),
    -0.5px -0.5px 0px rgba(0, 0, 0, 0.15),
    0px 12px 10px -10px rgba(0, 0, 0, 0.05);
}

.inner img {
  height: 80px;
  width: 80px;
  transform: translate(23px, 20px);
}

.circle1 {
  fill: none;
  stroke: #00aff0;
  stroke-width: 14px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim 2s linear forwards;
}

.svg1 {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim {
  100% {
    stroke-dasharray: 0;
  }
}

.cricle1-sub-box,
.cricle2-sub-box,
.cricle3-sub-box,
.cricle4-sub-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cricle1-sub-box h3,
.cricle2-sub-box h3,
.cricle3-sub-box h3,
.cricle4-sub-box h3 {
  font-weight: 600;
  margin: 20px 0 10px 0;
  font-size: 17px;
  color: #595757;
}

.cricle1-sub-box h2,
.cricle2-sub-box h2,
.cricle3-sub-box h2,
.cricle4-sub-box h2 {
  font-size: 19px;
}

.circle2 {
  fill: none;
  stroke: #71d875;
  stroke-width: 14px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim1 2s linear forwards;
}

.svg2 {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim1 {
  100% {
    stroke-dashoffset: 130;
  }
}

.circle3 {
  fill: none;
  stroke: #ffc107;
  stroke-width: 14px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim3 2s linear forwards;
}

.svg3 {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim3 {
  100% {
    stroke-dashoffset: 250;
  }
}

.circle4 {
  fill: none;
  stroke: #ff5274;
  stroke-width: 14px;
  stroke-dasharray: 472;
  stroke-dashoffset: 472;
  animation: anim4 2s linear forwards;
}

.svg4 {
  position: absolute;
  top: 0;
  left: 0;
}

@keyframes anim4 {
  100% {
    stroke-dashoffset: 380;
  }
}
.totalNumber {
  color: #00aff0;
}

.avilableStocks {
  color: #71d875;
}
.lowStock {
  color: #ffc107;
}

.outOfStock {
  color: #ff5274;
}

/* ---- table  -----*/

.row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0;
}

.dt-row {
    display: block;
}

#example_length {
    height: 40px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #595757;
    
}

#example_length:hover {
    cursor: pointer;
}

.form-select-sm {
    height: 25px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin: 0 5px;
    padding: 0 5px;
    
}

#example {
    width: 100%;
    flex-grow: 1;
}
 
#example_filter {
    height: 40px;
    width: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    color: #595757;
    background-color: #d4d0ec2e;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 20px;
}
#example_filter label {
    color: #7c5ef2;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.form-control-sm {
    border: none;
    border-radius: 15px;
    background-color:#ffffff2e;
    outline: none;
    letter-spacing: 1px;
    width: 350px;
    height: 40px;
    margin: 0 0 0 10px;
    font-weight: 600;
    font-size: 17px;
    cursor: pointer;
    color: #3a3a3a;
    

}

#example_filter:hover {
    border: 2px solid  #7c5ef2;
    cursor: pointer;

}

.col-md-5 {
    height: 50px ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: #595757;
}

.paging_simple_numbers {

    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.paging_simple_numbers ul {
    list-style: none;
    display: flex;
}

.paging_simple_numbers ul li {
    margin: 0 5px
}

.paging_simple_numbers ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 600;
}


.col-md-7 {
  margin: 10px 20px 0 0;
}




.paging_simple_numbers ul li:nth-child(2),.paging_simple_numbers ul li:nth-child(3),.paging_simple_numbers ul li:nth-child(4),.paging_simple_numbers ul li:nth-child(5),.paging_simple_numbers ul li:nth-child(6),.paging_simple_numbers ul li:nth-child(7){
    height: 35px;
    width: 35px;
    background-color:#785ee18a;

    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}



.paging_simple_numbers ul li:nth-child(2):hover,.paging_simple_numbers ul li:nth-child(3):hover,.paging_simple_numbers ul li:nth-child(4):hover,.paging_simple_numbers ul li:nth-child(5):hover,.paging_simple_numbers ul li:nth-child(6):hover,.paging_simple_numbers ul li:nth-child(7):hover{
   
  background-color: #7c5ef2;
  cursor: pointer;
   
    
}

.paging_simple_numbers ul li:nth-child(2) .active {
    background-color:#0000009b;
    cursor: pointer;
}

.paging_simple_numbers ul li:first-child ,.paging_simple_numbers ul li:last-child{
    height: 40px;
    background-color: #7c5ef2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    border-radius: 5px;
    font-weight: 600;

    
}
.paging_simple_numbers ul li.active {
  background-color: #7c5ef2;

}

.paging_simple_numbers ul li:first-child:hover ,.paging_simple_numbers ul li:last-child:hover{
    background-color:#ffffff;
    color: #7c5ef2;
    transition: 0.4s ease-in-out;
    cursor: pointer;
    border: 2px solid #7c5ef2;
   
    
}

.paging_simple_numbers ul li a:first-child:hover ,.paging_simple_numbers ul li a:last-child:hover{
    
    color: #7c5ef2;
    transition: 0.4s ease-in-out;
    cursor: pointer;
   
    
}

table tr:nth-child(odd) {
    height: 40px;
    min-width: 100%;    
   background: #d4d0ec2e;    
    background-color: #FFFFFF;
    text-align: center;
    margin: 10px 0;

}
table tr:nth-child(even) {
    height: 40px;
    min-width: 100%;
    background: #d4d0ec2e;    
    text-align: center;
    margin: 10px 0;

}

table th {
    position: relative;
    cursor: pointer;
}

.dropdown-buttons {
    position: absolute;
    height: 25px;
    width: 30px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    top: 6px;
    right: 0;
}

.fa-caret-up {
    color: #6a48f1;
}

.fa-caret-down {
    color:#59575739;
}
    
.Down-Button-Display {
    color: #6a48f1;
}

.up-Button-Display {
    color:#59575739;
}


#table-avilable-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
} 


.table-avilable-circle {
    height: 30px;
    width: 30px;
    background-color: #71D875;
    border-radius: 50%;
    background-color: #FFC107;
    background-color: #FF5274;
}



#dropdown-buttons {
    padding: 0 0 0 20px;
}


/* ---- user dashbord ---- */

.user-dashboard {
  min-height: 130px;
  min-width: 150px;
  position: absolute;
  background: #fffffff8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 600;
  color: #2f2e2e;
  top: 55px;
  right: 20px;
  border-radius: 10px;
  display: none;
  border: 2px solid #e7e6e68f;
}

.user-Display {
  display: flex;
  transition: 1s ease-out;
}

.user-profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 150px;
  cursor: pointer;
}
.user-profile:hover,
.logout-user-profile:hover {
  background: #7f63f4;
  color: #fff;
  border-radius: 10px;
}

.logout-user-profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 40px;
  width: 150px;
  cursor: pointer;
}
.logout-user-profile a {
  text-decoration: none;
}
.fa-lg {
  color: #050505;
}

/* ----- Footer --- */

.footer {
  display: flex;
  background: #d4d0ec2e;
  margin: 30px 0 0 0;
}
.footer a {
  text-decoration: none;
}

.main-logout {
  min-width: 184px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 150px;
  padding: 0 40px 0 0;
  cursor: pointer;
}

.logout p {
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  color: #595757;
}
.logout p:hover {
  color: #6a48f1;
}
.logout img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.copyright {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}
.copyright p {
  font-size: 17px;
  font-weight: 600;
  color: #595757;
}
.copyright p:hover {
  color: #6a48f1;
  cursor: pointer;
}
.copyright span {
  color: #7f63f4;
  font-size: 20px;
  margin: 0 0 0 5px;
  font-weight: 600;
  cursor: pointer;
}

.copyright img {
  height: 16px;
  width: 16px;
  margin: 0 0 0 5px;
}

/*----- Add Edit Delete -----*/

.add-edit-delete-manage-box {
  min-height: 200px;
  min-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  display: none;
}

.main-input-box {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding: 0 20px;
}

#Product-No,
#Product-Name,
#Division,
#Stocks,
#Cost,
#Total-Cost {
  height: 40px;
  outline: none;
  border: 2px solid #6a48f1c5;
  font-size: 16px;
  font-weight: 600;
  color: #595757;
  border-radius: 5px;
  text-align: center;
}

#Click-Button {
  height: 40px;
  width: 50px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: #ffffff;
  border-radius: 5px;
  background-color: #6a48f1;
  border: none;
}

#Click-Button:hover {
  background-color: #fff;
  color: #6a48f1;
  border: 2px solid #6a48f1;
  cursor: pointer;
}

#Add-Date,
#Up-Date {
  height: 40px;
  outline: none;
  font-size: 16px;
  font-weight: 600;
  color: #6a48f1;
  border-radius: 5px;
  border: none;
  border: 2px solid #6a48f1c5;
}

.Product-No-box,
.Product-Name-box,
.Division-box,
.Add-Date-box,
.Up-Date-box,
.Stocks-box,
.Cost-box,
.Total-Cost-box {
  height: 90px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #2f2e2ee3;
}

.main-button-box {
  display: flex;
  min-width: 25%;
  height: 60px;
  align-items: center;
  padding: 20px 0 0 0;
  justify-content: space-between;
}

.add-button-box,
.edit-button-box,
.delete-button-box {
  height: 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 5px;
}

#add-button,
#edit-button,
#delete-button {
  height: 40px;
  width: 140px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: #6a48f1df;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

#close-button {
  height: 40px;
  width: 140px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: #ff5274;
  cursor: pointer;
}

#add-button:hover,
#edit-button:hover,
#delete-button:hover,
#close-button:hover {
  background-color: #fff;
  color: #6a48f1;
  border: 2px solid #6a48f1;
  transition: 0.6s;
}



/* Add Items */


#add-form {
  padding: 40px 0;
  display: none;
}
#add-form h1 {
  font-size: 24px;
    color: #595757;
    margin: 20px 0;
    text-align: center;
}

#addForm {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
}

.proID {
  display: flex;
  justify-content: center;
  align-items: center;
}

#proID,#minLimit {
  height: 40px;
    width: 200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    color: #595757;
    background-color: #d4d0ec2e;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 10px;
    padding: 0 0 0 20px;
    border: 1px solid #59575762;
}

#proName {
  height: 40px;
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 17px;
    font-weight: 600;
    color: #595757;
    background-color: #d4d0ec2e;
    cursor: pointer;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 10px;
    padding: 0 0 0 20px;
    border: 1px solid #59575762;
}
#label1 {
  font-size: 17px;
  font-weight: 600;
  color: #595757
}

#add-form #type {
  height: 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 10px;
  border: none;
  color: #6a48f1;
}

#addBtn {
  height: 40px;
  width: 120px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: #6a48f1df;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}


#addBtn:hover {
  color: #7f63f4;
  background: #ffffff;
  border: 2px solid #7f63f4;
  transition: 0.5s;
}

.close-button {
  
  background-color: #ff5274;
  
  height: 40px;
  width: 120px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}
.close-button:hover {
  background-color: #fff;
  color: #6a48f1;
  border: 2px solid #6a48f1;
  transition: 0.6s;

}

/* delete Form */


.deleteForm {
  padding: 40px 0;
  display: none;
}

.deleteForm h1 {
  font-size: 24px;
  color: #595757;
  margin: 20px 0 0 80px;
  text-align: center;
}

#deleteForm {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
}

#df {
  margin: 0 60px 0 0;
}

#deleteBtn {
  height: 40px;
  width: 120px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  border: none;
  background-color: #6a48f1df;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 40px;
}

#deleteBtn:hover {
  color: #7f63f4;
  background: #ffffff;
  border: 2px solid #7f63f4;
  transition: 0.5s;
}

#df-label {
  font-size: 17px;
  font-weight: 600;
  color: #595757
}

#prd {

  height: 40px;
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  padding: 0 10px;
  margin: 0 10px;
  border-radius: 10px;
  border: none;
  color: #6a48f1;
}

.close-button-df {
  background-color: #ff5274;
  height: 40px;
  width: 120px;
  font-size: 17px;
  font-weight: 600;
  color: #fff;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 20px;
}

.close-button-df:hover {
  background-color: #fff;
  color: #6a48f1;
  border: 2px solid #6a48f1;
  transition: 0.6s;

}


#history-header {
  font-size: 22px;
  color: #595757;
  margin: 20px 0;
  text-align: center;
  margin: 40px 0;
}

.deleteForH {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

#delete-button-history {
  height: 25px;
  width: 25px;
  background-color: #ff5274;
  border: none;
  border-radius: 50%;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
  font-weight: 900;
  display: flex;
  justify-content: center;
  align-items: center;
}


#delete-button-history:hover {
  background-color: #6a48f1;
  color: #fff;
  transition: 0.6s;
}

